body {
  font-family: NanumRound, NEXONLv1Light, SUITE-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;
  min-width: 280px;
  display: flex;
  justify-content: center;
  background: linear-gradient(#fcfcfc, #ffdbcf)

  /* background-color: #E0E7D9; */
  /* background-color: white; */
}

@font-face {
  font-family: 'NanumRound';
  src: url('/NanumSquareRoundOTFL.otf') format('truetype');
}

@font-face {
  font-family: 'NEXONLv1Light';
  src: url('/NEXON Lv1 Gothic Low OTF Light.otf') format('truetype');
}

@font-face {
  font-family: 'NEXONLv1Bold';
  src: url('/NEXON Lv1 Gothic Low OTF Bold.otf') format('truetype');
}

@font-face {
  font-family: 'CookieRun';
  src: url('/CookieRun Regular.otf') format('truetype');
}
/* 

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */